

<div class="row" ng-init="init()">

    <!-- Padding column Left --> 
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
       
        <div ng-controller="NavMenuCtrl">
            <!-- <br /><pre>{{data.categories | json}}</pre> -->   

            <span class="visible-xs"><abbr title="Display mode extra small (.xs)">xs</abbr></span>
            <span class="visible-sm"><abbr title="Display mode small (.sm)">sm</abbr></span>
            <span class="visible-md"><abbr title="Display mode medium (.md)">md</abbr></span>
            <span class="visible-lg"><abbr title="Display mode large (.lg)">lg</abbr></span>   

            <h3 class="visible-lg visible-md">Make a Selection</h3>
            <h4 class="visible-sm">Make a Selection</h4>
            <hr ng-show="!collapsed">

            <script type="text/ng-template" id="customSearchTemplate.html">
              <a>
                    <span bind-html-unsafe="match.label.pretty_name | typeaheadHighlight:query"></span>
              </a>
            </script>

            <div id="options_container" ng-show="!collapsed">
                <!-- <pre>Model: {{data.searchResults.children.length | json}} </pre> -->
                <label for="catSearchInput" class="visible-lg visible-md visible-sm">
                    Lookup <span class="badge pull-right">
                    <abbr title="Results">{{data.searchResults.children.length || "0"}}</abbr></span>
                </label>
                <div class="form-group input-group">
                    <input id="catSearchInput" class="form-control" type="text" 
                          placeholder="Start typing to search...." 
                          ng-model="data.searchResults"
                          typeahead-min-length="1"
                          typeahead="photo as photo.pretty_name for photo in lookupPhotos($viewValue) | filter:{pretty_name:$viewValue} | limitTo:10" >

<!--
                        typeahead="photo as photo for photo in lookupPhotos($viewValue) | filter:{pretty_name:$viewValue} | limitTo:10"
                        typeahead-template-url="customSearchTemplate.html"
                        typeahead="photo as photo.pretty_name for photo in lookupPhotos($viewValue) | filter:{pretty_name:$viewValue} | limitTo:10"
 -->

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" 
                                ng-click="updateFromSearch()"
                                ng-disabled="data.searchResults.children.length == 0 || data.searchResults.children == null">
                                Go!
                        </button>
                    </span>
                </div>
               
                <hr class="visible-xs">

                <div class="form-group">
                    <label for="catDropdown" class="visible-lg visible-md visible-sm">
                        Category 
                        <span class="badge pull-right">
                            <abbr title="Results">{{data.categories.children.length || "0"}}</abbr>
                        </span>
                    </label>
                    <select id="catDropdown"
                            class="form-control" 
                            ng-model="data.selectedCategory"
                            ng-disabled="data.categories.children.length == 0"
                            ng-options="c.pretty_name for c in data.categories.children">
                    </select>
                </div>

                <hr class="visible-xs">

                <div class="form-group">
                    <label for="subCatDropdown" class="visible-lg visible-md visible-sm">
                        Sub Category 
                        <span class="badge  pull-right">
                            <abbr title="Results">{{data.selectedCategory.children.length || "0"}}</abbr>
                        </span>
                    </label>
                    <select id="subCatDropdown"
                            class="form-control"
                            ng-model="data.selectedSubCategory"
                            ng-disabled="data.selectedCategory.children == null || data.selectedCategory.children.length == 0"
                            ng-options="c.pretty_name for c in data.selectedCategory.children">
                    </select>
                </div>
                
                <hr class="visible-xs">

                <div class="form-group">
                    <label for="subCatDropdown" class="visible-lg visible-md visible-sm">
                        Pictures 
                        <span class="badge  pull-right">
                            <abbr title="Results">{{data.selectedPhotos.length || "0"}}</abbr>
                        </span>
                    </label>
                    <select id="picturesDropdown"
                            class="form-control"
                            ng-model="data.selectedPhotoIndex" 
                            ng-disabled="data.selectedPhotos.length == 0"
                            ng-options="i as p.pretty_name_without_extension for (i, p) in data.selectedPhotos">
                    </select>
                </div>
                <!--            
                    <br /><pre>{{data.selectedCategory.children.length | json}}</pre>   
                    <br /><pre>{{data.selectedSubCategory.children.length | json}}</pre>
                -->
            </div>

            <hr ng-show="!collapsed">

            <!-- START : Buttons and Actions -->
            <div id="action_buttons_container" class="form-group">

                <div class="pull-left">
                    <button class="btn btn-sm btn-primary " type="button" 
                            ng-click="goFullScreen()" 
                            ng-disabled="!screenService.isEnabled()"
                            ng-show="screenService.inFullScreen == false">
                        <span class="glyphicon glyphicon-fullscreen"></span> Go Full Screen
                    </button>

                    <button class="btn btn-sm btn-success" type="button" 
                            ng-disabled="!screenService.isEnabled()"
                            ng-click="exitFullScreen()" 
                            ng-show="screenService.inFullScreen == true">
                        <span class="glyphicon glyphicon-resize-small"></span> Exit Full Screen
                    </button>
                </div>

                <div class="pull-right visible-xs">
                    <button type="button" class="btn btn-sm btn-default pull-right"
                        ng-click="collapsed = true"
                        ng-show="!collapsed">
                        <span class="glyphicon glyphicon-chevron-up"></span> Collapse
                    </button>

                    <button type="button" class="btn btn-sm btn-default pull-right"
                        ng-click="collapsed = false"
                        ng-show="collapsed">
                        <span class="glyphicon glyphicon-chevron-down"></span> Expand
                    </button>
                </div>

            </div>
            <!-- END : Buttons and Actions -->
            <br />
            <br />

        </div>

    </div>

    <!-- START : Main Column --> 
    <!-- Add the extra clearfix for only the required view…-->
    <div class="clearfix visible-xs"></div>
    <div id="main-window-container" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>{{data.selectedCategoryName}} <small>{{data.selectedSubCategoryName}}</small></h3>
            </div>
            
            <div class="panel-body text-center">

                <div class="carousel-container"> 

                    <ul rn-carousel 
                        rn-carousel-buffered 
                        rn-carousel-watch 
                        rn-carousel-control
                        rn-carousel-indicator
                        rn-carousel-swipe="true" 
                        rn-carousel-index="data.selectedPhotoIndex">

                        <li ng-repeat="photo in data.selectedPhotos"
                            style="position: relative;">
                            <img ng-src="{{photo.short_path}}" 
                                on-swipe-up="onSwipeUp()"
                                on-swipe-down="onSwipeDown()"
                                on-double-tap="toggleFullScreenImage()"
                                style="width:100%; height:auto; "
                                class="img-responsive">
                          <div class="layer">
                            <div ng-show="debugMode" class="text-center">
                                <h4 ng-bind="'carouselIndex: ' + carouselIndex"></h4>
                                <h4 ng-bind="'carouselBufferIndex: ' + carouselBufferIndex"></h4>
                                <pre style="max-width: 600px; text-align: center; margin: auto;">{{ photo | json}}</pre>    
                            </div>
                            <h3>{{photo.pretty_name_without_extension}}</h3>
                          </div>
                        </li>

                    </ul>

                </div>

                <div ng-show="debugMode">
                    Next : {{ disabledNextCarousel() }} | 
                    Previous : {{ disabledPreviousCarousel() }} | 
                    Length : {{data.selectedPhotos.length}} | 
                    Current : {{data.selectedPhotoIndex}} | 
                </div>
            </div>

            <div class="panel-footer">
                <ul class="pager" ng-show="shouldShowCarousel()">
                    <li class="previous"
                        ng-class="{disabled: disabledPreviousCarousel()}">
                        <a ng-click="previous()">&larr; Previous</a>
                    </li>
                    <li class="next"
                        ng-class="{disabled: disabledNextCarousel()}">
                        <a ng-click="next()">Next &rarr;</a>
                    </li>
                </ul>
            </div>

       </div>

    </div>

    </div>
    <!-- END : Main Column --> 
