
<div class="row" ng-init="init()">

    <!-- Padding column Left --> 
    <div class="col-xs-5 col-sm-5 col-md-3">
       
        <div ng-controller="NavMenuCtrl" ng-init="init()" class="text-center">
            <!-- <br /><pre>{{data.categories | json}}</pre> -->

            <h2><small>Make a Selection</small></h2>
            <hr />
            
            <h4>Category <span class="badge">{{data.categories.children.length || "0"}}</span></h4>
            <select ng-model="data.selectedCategory"
                    class="form-control input-lg"
                    ng-disabled="data.categories.children.length == 0"
                    ng-change="clearSubCategory()">
                <option ng-repeat="c in data.categories.children" value="{{$index}}">
                    {{c.pretty_name}}
                </option>
            </select>

            <h5>Sub Category <span class="badge">{{data.categories.children[data.selectedCategory].children.length || "0"}}</span></h5>
            <select ng-model="data.selectedSubCategory"
                    ng-change="showImages()"
                    class="form-control"
                    ng-disabled="data.selectedCategory == -1">
                <option ng-repeat="c in data.categories.children[data.selectedCategory].children" value="{{$index}}">
                    {{c.pretty_name}}
                </option>
            </select>

            <hr />
            <button class="btn btn-sm btn-info btn-block" type="button" ng-click="init()">
                 <span class="glyphicon glyphicon-refresh"></span> Refresh Categories
            </button>
            <hr />

            <span ng-model="screenService.inFullScreen"></span>

            <button class="btn btn-sm btn-info btn-block" type="button" 
                    ng-click="goFullScreen()" 
                    ng-show="screenService.inFullScreen == false">
                <span class="glyphicon glyphicon-fullscreen"></span> Full Screen
            </button>

            <button class="btn btn-sm btn-info btn-block" type="button" 
                    ng-click="exitFullScreen()" 
                    ng-show="screenService.inFullScreen == true">
                <span class="glyphicon glyphicon-resize-small"></span> Exit Full Screen
            </button>

            <hr />

<!--             <br /><pre>{{data.selectedCategory | json}}</pre>
            <br /><pre>{{data.selectedSubCategory | json}}</pre>
 -->
        </div>

    </div>

    <!-- START : Main Column --> 
    <div class="col-xs-7 col-sm-7 col-md-9">

<!--             <span ng-bind="data.selectedPhotos.length"></span> 
            <span ng-bind="_Index"></span> -->

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3><span ng-bind="data.selectedCategoryName"></span> <small ng-bind="data.selectedSubCategoryName"></small></h3>
                </div>
                
                <div class="panel-body" style="min-height: 530px;">
                    <carousel interval="sliderInterval">
                        <slide ng-repeat="photo in data.selectedPhotos" active="photo.active">
                        <img ng-src="{{photo.short_path}}" 
                            ng-click="fullScreenPicture()"
                            style="margin:auto;" 
                            class="img-responsive img-thumbnail">
                        <div class="carousel-caption">
                            <h4>Slide {{$index}}</h4>
                            <p>{{photo.pretty_name_without_extension}}</p>
                        </div>
                        </slide>
                    </carousel>
                </div>
           </div>

        </div>

    </div>
    <!-- END : Main Column --> 

    <!-- Padding column Right --> 
    <div class="col-xs-2 col-sm-2 col-md-1">
        
    </div>
</div>
