
<div class="row" ng-init="init()">

    <!-- Padding column Left --> 
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
       
        <div ng-controller="NavMenuCtrl">
            <!-- <br /><pre>{{data.categories | json}}</pre> -->   

            <span class="visible-xs"><abbr title="Display mode extra small (.xs)">xs</abbr></span>
            <span class="visible-sm"><abbr title="Display mode small (.sm)">sm</abbr></span>
            <span class="visible-md"><abbr title="Display mode medium (.md)">md</abbr></span>
            <span class="visible-lg"><abbr title="Display mode large (.lg)">lg</abbr></span>   

            <h3 class="visible-lg visible-md">Make a Selection</h3>
            <h4 class="visible-sm">Make a Selection</h4>
            <hr />

            <h4 class="visible-lg visible-md visible-sm">Lookup <span class="badge pull-right"><abbr title="Results">{{data.lookup_results.leng || "0"}}</abbr></span></h4>
            
            <!-- <pre>Model: {{asyncSelected | json}}</pre> -->

            <div class="input-group">
                <input class="form-control" type="text" 
                      placeholder="Start typing to search...." 
                      ng-model="asyncSelected"
                      typeahead="photo for photo in lookupPhotos($viewValue) | filter:$viewValue" >
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
           
             <hr class="visible-xs"/>

            <h4 class="visible-lg visible-md visible-sm">Category <span class="badge pull-right"><abbr title="Results">{{data.categories.children.length || "0"}}</abbr></span></h4>

            <select ng-model="data.selectedCategory"
                    class="form-control" 
                    ng-disabled="data.categories.children.length == 0">
                <option ng-repeat="c in data.categories.children" value="{{$index}}">
                    {{c.pretty_name}}
                </option>
            </select>

            <hr class="visible-xs"/>
 
            <h4 class="visible-lg visible-md visible-sm">Sub Category <span class="badge pull-right"><abbr title="Results">{{data.categories.children[data.selectedCategory].children.length || "0"}}</abbr></span></h4>

            <select ng-model="data.selectedSubCategory"
                    class="form-control"
                    ng-disabled="data.selectedCategory == -1">
                <option ng-repeat="c in data.categories.children[data.selectedCategory].children" value="{{$index}}">
                    {{c.pretty_name}}
                </option>
            </select>

            <br />

            <button class="btn btn-sm btn-info btn-block" type="button" ng-click="init()">
                 <span class="glyphicon glyphicon-refresh"></span> Refresh Categories
            </button>
            
            <hr />

            <span ng-model="screenService.inFullScreen"></span>

            <button class="btn btn-sm btn-info btn-block" type="button" 
                    ng-click="goFullScreen()" 
                    ng-show="screenService.inFullScreen == false">
                <span class="glyphicon glyphicon-fullscreen"></span> Full Screen
            </button>

            <button class="btn btn-sm btn-info btn-block" type="button" 
                    ng-click="exitFullScreen()" 
                    ng-show="screenService.inFullScreen == true">
                <span class="glyphicon glyphicon-resize-small"></span> Exit Full Screen
            </button>

            <hr />

<!--        <br /><pre>{{data.selectedCategory | json}}</pre>
            <br /><pre>{{data.selectedSubCategory | json}}</pre>
 -->

        </div>

    </div>

        <!-- START : Main Column --> 
        <!-- Add the extra clearfix for only the required view…-->
        <div class="clearfix visible-xs"></div>
        <div id="main-window-container" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>
                      <span class="label label-primary" ng-bind="data.selectedCategoryName"></span> 
                      <small class="label label-success" ng-bind="data.selectedSubCategoryName"></small>
                    </h3>
                </div>
                
                <div class="panel-body">

                    <div class="carousel-container"
                        ng-show="shouldShowCarousel()"> 

                        <ul data-rn-carousel 
                            rn-carousel-buffered 
                            rn-carousel-watch
                            rn-carousel-index="currentIndex">
                            <li ng-repeat="photo in data.selectedPhotos">
                                <img ng-src="{{photo.short_path}}" 
                                    ng-dblclick="goFullScreenImage()"
                                    style="margin:auto;" 
                                    class="img-responsive img-thumbnail">
                                
                                <div class="carousel-caption">
                                    <div ng-show="debugCarousel">
                                        <h5 ng-bind="'index: ' + carouselCollection.index"></h5>
                                        <h5 ng-bind="'position: ' + carouselCollection.position"></h5>
                                        <h5 ng-bind="'#items: ' + carouselCollection.items.length"></h5>
                                        <h5 ng-bind="'#DOM items: ' + carouselCollection.cards.length"></h5>
                                        <pre>{{ photo | json}}</pre>
                                    </div>
                                    <h3>{{photo.pretty_name_without_extension}}</h3>
                                </div>

                            </li>
                        </ul>                        
                    </div>

                    <div ng-show="debugCarousel">
                        Next : {{ disabledNextCarousel() }} | 
                        Previous : {{ disabledPreviousCarousel() }} | 
                        Length : {{data.selectedPhotos.length}} | 
                        Current : {{currentIndex}} | 
                    </div>
                </div>

                <div class="panel-footer">
                    <ul class="pager" ng-show="shouldShowCarousel()">
                        <li class="previous"
                            ng-class="{disabled: disabledPreviousCarousel()}">
                            <a ng-click="previous()">&larr; Previous</a>
                        </li>
                        <li class="next"
                            ng-class="{disabled: disabledNextCarousel()}">
                            <a ng-click="next()">Next &rarr;</a>
                        </li>
                    </ul>
                </div>

           </div>

        </div>

    </div>
    <!-- END : Main Column --> 

</div>
